
Sources/.DS_Store

.swiftpm/xcode/xcuserdata/musicmaker.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/package.xcworkspace/xcuserdata/musicmaker.xcuserdatad/UserInterfaceState.xcuserstate
Sources/.DS_Store
.DS_Store
./.DS_Store

Sources/.DS_Store
.swiftpm/xcode/package.xcworkspace/xcuserdata/musicmaker.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
Sources/.DS_Store
Sources/.DS_Store
.DS_Store
.swiftpm/xcode/package.xcworkspace/xcuserdata/musicmaker.xcuserdatad/UserInterfaceState.xcuserstate
