
Getting started/.DS_Store
.swiftpm/.DS_Store
.swiftpm/xcode/.DS_Store
.swiftpm/xcode/xcuserdata/musicmaker.xcuserdatad/xcschemes/xcschememanagement.plist
Sources/PythonSwiftCore/.DS_Store
Sources/PythonSwiftCore/PySwiftObject/.DS_Store
.DS_Store
Sources/.DS_Store
